<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="/userprofile">
                <i class="fa fa-user fa-fw"></i>
                <span>用户管理</span>
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="fa fa-fw fa-home"></i>
                <span>实时在线评估</span>
                <ul class="submenu">
                    <li>
                        <a href="/nodeConfig">新建评估任务</a>
                    </li>
                    <li>
                        <a href="/nodeState">评估任务管理</a>
                    </li>
                </ul>
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="fa-cogs fa fa-fw"></i>
                <span>节点状态管理</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/nodeConfig">新建监测节点</a>
                </li>
                <li>
                    <a href="/nodeState">查询节点记录</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
