{% extends "base/page-base.html" %}
{% block title %}节点状态监测{% endblock %}
{% load staticfiles %}

{% block css %}
{#<link rel="stylesheet" href="{% static "css/compiled/nodeConfig.css" %}"rel="stylesheet" type="text/css" />#}
<script src="{% static "js/echarts.min.js"%}"></script>
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
{% endblock %}

{% block side-nav %}
{% include "side-nav/side-nav-config.html" %}
{% endblock %}

{% block content %}

<!-- main container -->
<div class="content container">
    <div class="row">
        <ol class="breadcrumb">
            <span>当前所在位置：</span>
            <li>
                <a>配置管理</a>
            </li>
            <li class="active">节点状态监测</li>
        </ol>
    </div>

    <div class="row" style="width: 100%;"> 
        <div class="col-md-4">
            <div id="statediv1" class="main-box" style="width: 100%;height: 350px;">
            </div>
        </div>


        <div class="col-md-4">
            <div id="statediv2" class="main-box" style="width: 100%;height: 350px;">
            </div>

        </div>

        <div class="col-md-4">
            <div id="statediv3" class="main-box" style="width: 100%;height: 350px;">
            </div>

        </div>

        <div class="col-md-4">
            <div id="statediv4" class="main-box" style="width: 100%;height: 350px;">
            </div>

        </div>

        <div class="col-md-4">
            <div id="statediv5" class="main-box" style="width: 100%;height: 350px;">
            </div>

        </div>

        <div class="col-md-4">
            <div id="statediv6" class="main-box" style="width: 100%;height: 350px;">
            </div>

        </div>

    </div>
    <script type="text/javascript">
        console.log({{nodeid}});
        var y1,y2,y3,y4,y5,y6 ;
        var getState,dataReceive=[],data=[],n=0;
        getState = window.setInterval(function(){
            $.ajax({
                url:'/nodeMonitorData/{{nodeid}}/',
                type:'post',
                success:function (dataJSON) {
                    dataReceive = eval('('+dataJSON+')');
                    y1 = parseFloat(dataReceive.cpu);
                    y2 = parseFloat(dataReceive.memory);
                    y3 = parseFloat(dataReceive.temp);
                    y4 = parseFloat(dataReceive.resTime);
                    y5 = parseFloat(dataReceive.rate);
                    y6 = parseFloat(dataReceive.other);
                    n=dataReceive.length;
                }
            });
        },1000);
    </script>

    <script>
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        function activeLastPointToolip(chart) {
            var points = chart.series[0].points;
            chart.tooltip.refresh(points[points.length -1]);
        }
        $('#statediv1').highcharts({
            chart: {
                type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
            load: function () {
                // set up the updating of the chart each second
                var series = this.series[0],
                chart = this;
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                    y;
                    y = parseFloat(y1);
             series.addPoint([x, y], true, true);
             activeLastPointToolip(chart)
         }, 1000);
            }
        }
    },
    title: {
        text: '实时CPU利用率'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: '值'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
            Highcharts.numberFormat(this.y, 2);
        }
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    series: [{
        name: '实时数据',
        data: (function () {
            // generate an array of random data
            var data = [],
            time = (new Date()).getTime(),
            i;
            for (i = -19; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: Math.random(),
                });
            }
            return data;
        }())
    }]
}, function(c) {
    activeLastPointToolip(c)
});

</script>
<script>
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    function activeLastPointToolip(chart) {
        var points = chart.series[0].points;
        chart.tooltip.refresh(points[points.length -1]);
    }
    $('#statediv2').highcharts({
        chart: {
            type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
            load: function () {
                // set up the updating of the chart each second
                var series = this.series[0],
                chart = this;
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                    y = y2;
                    series.addPoint([x, y], true, true);
                    activeLastPointToolip(chart)
                }, 1000);
            }
        }
    },
    title: {
        text: '实时内存利用率'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: '值'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
            Highcharts.numberFormat(this.y, 2);
        }
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    series: [{
        name: '实时数据',
        data: (function () {
            // generate an array of random data
            var data = [],
            time = (new Date()).getTime(),
            i;
            for (i = -19; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: Math.random()
                });
            }
            return data;
        }())
    }]
}, function(c) {
    activeLastPointToolip(c)
});

</script> 

<script>
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    function activeLastPointToolip(chart) {
        var points = chart.series[0].points;
        chart.tooltip.refresh(points[points.length -1]);
    }
    $('#statediv3').highcharts({
        chart: {
            type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
            load: function () {
                // set up the updating of the chart each second
                var series = this.series[0],
                chart = this;
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                    y = y3;
                    series.addPoint([x, y], true, true);
                    activeLastPointToolip(chart)
                }, 1000);
            }
        }
    },
    title: {
        text: '实时温度'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: '值'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
            Highcharts.numberFormat(this.y, 2);
        }
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    series: [{
        name: '实时数据',
        data: (function () {
            // generate an array of random data
            var data = [],
            time = (new Date()).getTime(),
            i;
            for (i = -19; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: Math.random()
                });
            }
            return data;
        }())
    }]
}, function(c) {
    activeLastPointToolip(c)
});

</script>    <script>
Highcharts.setOptions({
    global: {
        useUTC: false
    }
});
function activeLastPointToolip(chart) {
    var points = chart.series[0].points;
    chart.tooltip.refresh(points[points.length -1]);
}
$('#statediv4').highcharts({
    chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
            load: function () {
                // set up the updating of the chart each second
                var series = this.series[0],
                chart = this;
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                    y = y4;
                    series.addPoint([x, y], true, true);
                    activeLastPointToolip(chart)
                }, 1000);
            }
        }
    },
    title: {
        text: '实时响应时间'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: '值'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
            Highcharts.numberFormat(this.y, 2);
        }
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    series: [{
        name: '实时数据',
        data: (function () {
            // generate an array of random data
            var data = [],
            time = (new Date()).getTime(),
            i;
            for (i = -19; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: Math.random()
                });
            }
            return data;
        }())
    }]
}, function(c) {
    activeLastPointToolip(c)
});

</script>    <script>
Highcharts.setOptions({
    global: {
        useUTC: false
    }
});
function activeLastPointToolip(chart) {
    var points = chart.series[0].points;
    chart.tooltip.refresh(points[points.length -1]);
}
$('#statediv5').highcharts({
    chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
            load: function () {
                // set up the updating of the chart each second
                var series = this.series[0],
                chart = this;
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                    y = y5;
                    series.addPoint([x, y], true, true);
                    activeLastPointToolip(chart)
                }, 1000);
            }
        }
    },
    title: {
        text: '实时丢包率'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: '值'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
            Highcharts.numberFormat(this.y, 2);
        }
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    series: [{
        name: '实时数据',
        data: (function () {
            // generate an array of random data
            var data = [],
            time = (new Date()).getTime(),
            i;
            for (i = -19; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: Math.random()
                });
            }
            return data;
        }())
    }]
}, function(c) {
    activeLastPointToolip(c)
});

</script>    <script>
Highcharts.setOptions({
    global: {
        useUTC: false
    }
});
function activeLastPointToolip(chart) {
    var points = chart.series[0].points;
    chart.tooltip.refresh(points[points.length -1]);
}
$('#statediv6').highcharts({
    chart: {
        type: 'spline',
        animation: Highcharts.svg, // don't animate in old IE
        marginRight: 10,
        events: {
            load: function () {
                // set up the updating of the chart each second
                var series = this.series[0],
                chart = this;
                setInterval(function () {
                    var x = (new Date()).getTime(), // current time
                    y = y6;
                    series.addPoint([x, y], true, true);
                    activeLastPointToolip(chart)
                }, 1000);
            }
        }
    },
    title: {
        text: '实时吞吐量'
    },
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
    },
    yAxis: {
        title: {
            text: '值'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
            Highcharts.numberFormat(this.y, 2);
        }
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    series: [{
        name: '实时数据',
        data: (function () {
            // generate an array of random data
            var data = [],
            time = (new Date()).getTime(),
            i;
            for (i = -19; i <= 0; i += 1) {
                data.push({
                    x: time + i * 1000,
                    y: Math.random()
                });
            }
            return data;
        }())
    }]
}, function(c) {
    activeLastPointToolip(c)
});

</script>

</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static "js/lib/jquery.js"%}" ></script>

{% endblock %}
