{% extends "base/page-base.html" %}
{% block title %}节点状态监测{% endblock %}
{% load staticfiles %}

{% block css %}
{#<link rel="stylesheet" href="{% static "css/compiled/nodeConfig.css" %}"rel="stylesheet" type="text/css" />#}
    <script src="{% static "js/echarts-master/echarts.min.js"%}"></script>
    <script src="{% static "js/echarts-master/map/js/china.js"%}"></script>
    <script src="{% static "js/echarts-master/map/js/world.js"%}"></script>
{% endblock %}

{% block side-nav %}
{% include "side-nav/side-nav-config.html" %}
{% endblock %}

{% block content %}

<!-- main container -->
<div class="content container">
    <div class="row">
        <ol class="breadcrumb">
            <span>当前所在位置：</span>
            <li>
                <a>配置管理</a>
            </li>
            <li class="active">节点状态监测</li>
        </ol>
    </div>

    <div class="row"> 
        <div class="col-md-12">
            <div id="statediv" class="main-box" style="width: 100%;height: 800px;">
            </div>
            <script>
                var getState,dataReceive=[],data=[],n=0;
                var myChart = echarts.init(document.getElementById('statediv'));
                myChart.showLoading();
                getState = window.setInterval(function(){
                    $.ajax({
                        url:'/config/nodeInTimeState/',
                        type:'post',
                        success:function (dataJSON) {
                            dataReceive = eval('('+dataJSON+')');
                            n=dataReceive.length;
                        }
                    });
                },5000);
                var i= 0,data=[];
                var grids,xAxes,yAxes,series,titles,seriesIndexs,rowNumber;
                var option;
                var setData=window.setInterval(function(){
                	var convertData = function (dataReceive) {
    				var res = [];
    				for (var i = 0; i < dataReceive.length; i++) {
                //        console.log(dataReceive[i]);
        				var geoCoord = dataReceive[i].pos;
        				if (geoCoord) {
          			  	res.push({
                		name: dataReceive[i].name,
                		value: geoCoord.concat(dataReceive[i].value),
           				 });
        				}
  		  			}
                    console.log(res);
   					 return res;
				};	
option = {
    backgroundColor: '#404a59',
    title: {
        text: '监测节点分布图',
        subtext: 'Data From BUPT',
        sublink: 'http://www.pm25.in',
        left: 'center',
        textStyle: {
            color: '#fff'
        }
    },
    tooltip : {
        trigger: 'item'
    },
    legend: {
        orient: 'vertical',
        y: 'bottom',
        x:'right',
        data:['节点活跃度'],
        textStyle: {
            color: '#fff'
        }
    },
    geo: {
        map: 'china',
        label: {
            emphasis: {
                show: false
            }
        },
        roam: true,
        itemStyle: {
            normal: {
                areaColor: '#323c48',
                borderColor: '#111'
            },
            emphasis: {
                areaColor: '#2a333d'
            }
        }
    },
    series : [
        {
            name: '节点活跃度',
            type: 'scatter',
            coordinateSystem: 'geo',
            data: convertData(dataReceive),
            symbolSize: function (val) {
                return val[2] / 4;
            },
            label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: false
                },
                emphasis: {
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    color: '#ddb926'
                }
            }
        },
        {
            name: 'Top 5',
            type: 'effectScatter',
            coordinateSystem: 'geo',
            data: convertData(data.sort(function (a, b) {
                return b.value - a.value;
            }).slice(0, 6)),
            symbolSize: function (val) {
                return val[2] / 2;
            },
            showEffectOn: 'render',
            rippleEffect: {
                brushType: 'stroke'
            },
            hoverAnimation: true,
            label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    color: '#FF0033',
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            zlevel: 1
        }
    ]
};
                    myChart.hideLoading();
                    myChart.setOption(option);
                },1000);
            </script>
        </div>
      
    </div>      
</div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static "js/lib/jquery.js"%}" ></script>
{% endblock %}
