/* 
* @Author: anchen
* @Date:   2016-06-20 21:58:35
* @Last Modified by:   anchen
* @Last Modified time: 2016-06-20 23:09:22
*/
#login form {
    margin: 0 20%;
    margin-top: 10%;
}
#login label {
    width: auto;
}
.info{
    color:red;
    font-weight: 400;
}
.form-group div{
    padding:0px 0px;
}